@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Cafe';
  src: url('../public/fonts/Cafe.ttf')
}

@keyframes wave {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-10px) translateX(-25%);
  }
  60% {
    transform: translateY(0px) translateX(10%);
  }
  70% {
    transform: translateY(5px) translateX(20%);
  }
  80% {
    transform: translateY(0px) translateX(35%);
  }
  90% {
    transform: translateY(0px) translateX(45%);
  }
  100% {
    transform: translateY(-5px) translateX(50%);
  }
}

.animate-wave {
  animation: wave 1s infinite;
  display: inline-block;
}


@keyframes ombak {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.wave-sigma {
  display: inline-block;
  animation: ombak 1.5s infinite;
  transform-origin: bottom;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
}